body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(144, 218, 144);
}

#top-portion {
  text-align: center;
}

p {
  margin: auto;
  text-align: center;
  width: 80%;
  line-height: 1.5;
}

a {
  color: darkslategray;
  text-decoration: none;
}

a:hover {
  color: red;
}

img {
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 25%;
}

#my-image {
  padding-bottom: 10px;
  padding-top: 10px;
}

.itemz::marker {
  color: darkgreen;
}

ul {
  list-style-type: square;
}

h2 {
  font-size: 100%;
}

table {
  border: 2px;
  border-style: dotted;
  border-color: rgb(27, 47, 25);
}

tr:nth-child(odd) {
  background-color: rgb(120, 186, 127);
}

tr:nth-child(even) {
  background-color: rgb(175, 230, 188);
}
